.is-active_numPages {
    color: #26497E;
    font-weight: 900;
}

.is-active_nav {
    transform: translate(-100rem);
}

.is-hidden_nav {
    transform: translate(2rem);
}

.is-active_toogleMenu {
    transform: translate(-100%);
}

.is-hidden_toogleMenu {
    transform: translate(100%);
}

.is-active_instImg {
    transform: scale(1.05);
}

.is-active_message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden_message {
    display: none;
}