/* ------------------ Reset (normalize css)-------------- */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  font-size: 62.5%;
  /* 10px */
}

body {
  height: 100%;
}

.main {
  min-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  height: 83.6rem;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@media (max-width: 860px) {
  .title {
    height: 65.9rem;
    padding-bottom: 6rem;
  }
}
@media (max-width: 620px) {
  .title {
    padding-bottom: 6rem;
  }
}
@media all and (max-width: 1200px) {
  html {
    font-size: 6px;
  }
}
@media all and (max-width: 860px) {
  html {
    font-size: 10px;
  }
}
@media all and (max-width: 770px) {
  html {
    font-size: 8px;
  }
}
@media all and (max-width: 620px) {
  html {
    font-size: 10px;
  }
}
@media all and (min-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media all and (min-width: 1440px) {
  html {
    font-size: 10px;
  }
}
.titleContainer {
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding-top: 8.8rem;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 860px) {
  .titleContainer {
    padding-top: 6.2rem;
  }
}
@media (max-width: 620px) {
  .titleContainer {
    width: 100%;
    padding-top: 4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
.buyers_choyce__container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12.9rem;
}
.buyers_choyce__container .buyers_heading {
  margin-bottom: 10.6rem;
}

@media (max-width: 860px) {
  .buyers_choyce__container {
    padding-top: 9.7rem;
  }
}
@media (max-width: 620px) {
  .buyers_choyce__container {
    padding-top: 5.9rem;
  }
}
.aboutShop_container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 12.3em;
  padding-bottom: 15.2rem;
  box-sizing: border-box;
}

@media (max-width: 860px) {
  .aboutShop_container {
    padding-top: 0;
    padding-bottom: 4.52rem;
  }
}
.instagram_container {
  width: 100%;
  padding-top: 7.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #E5E5E5;
  position: relative;
  overflow: hidden;
}

.img_Inst1 {
  position: absolute;
  width: 27.5rem;
  height: 22.4rem;
  right: -6rem;
  top: 2rem;
}

.img_Inst2 {
  position: absolute;
  width: 17.1rem;
  height: 14rem;
  left: -1.5rem;
  top: 43.3rem;
  z-index: 1;
}

.btn_instagram {
  margin-bottom: 8.82rem;
}

@media (max-width: 860px) {
  .instagram_container {
    padding-top: 6.8rem;
  }

  .img_Inst2 {
    left: 9.5rem;
    top: 128.3rem;
  }
}
@media (max-width: 620px) {
  .btn_instagram {
    margin-bottom: 5.2rem;
  }

  .img_Inst1 {
    width: 16.5rem;
    height: 10.4rem;
    right: -1rem;
    top: 8rem;
  }

  .img_Inst2 {
    left: -4.5rem;
    top: 78.3rem;
  }
}
.partners_container {
  width: 100%;
  padding-top: 16.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 860px) {
  .partners_container {
    padding-top: 9.1rem;
  }
}
@media (max-width: 620px) {
  .partners_container {
    padding-top: 5.9rem;
  }
}
.info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F7F7F7;
}

.is-active_numPages {
  color: #26497E;
  font-weight: 900;
}

.is-active_nav {
  transform: translate(-100rem);
}

.is-hidden_nav {
  transform: translate(2rem);
}

.is-active_toogleMenu {
  transform: translate(-100%);
}

.is-hidden_toogleMenu {
  transform: translate(100%);
}

.is-active_instImg {
  transform: scale(1.05);
}

.is-active_message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden_message {
  display: none;
}

.title_nav {
  width: 100%;
  max-width: 1439px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 76rem;
  height: 2.6rem;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #343434;
}
.menu a:hover {
  font-weight: bold;
}
.menu a:active {
  color: #468aca;
}
.menu li {
  display: inline;
}

@media (max-width: 860px) {
  .menu {
    width: 44.6rem;
    height: 1.6rem;
  }
  .menu a {
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;
  }
}
@media (max-width: 620px) {
  .title_nav {
    width: 66%;
  }

  .nav {
    position: absolute;
    z-index: 100;
    display: block;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    left: 105rem;
  }
  .nav .menu {
    width: 100%;
    flex-direction: column;
  }
  .nav .nav_li {
    margin-bottom: 2.5rem;
  }
  .nav .nav_li a {
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
.logo {
  width: 7.5rem;
  height: 9.85rem;
  margin-top: -2rem;
}

@media (max-width: 860px) {
  .logo {
    width: 4.8rem;
    height: 6.3rem;
    margin-top: -1.8rem;
  }
}
@media (max-width: 620px) {
  .logo {
    width: 2.7rem;
    height: 3.5rem;
    margin-top: -1rem;
  }
}
.title_burger {
  display: none;
  cursor: pointer;
}

.title_burger span {
  position: absolute;
  left: 0;
  width: 19.71px;
  height: 1px;
  top: 5.5px;
  background-color: #323232;
}

.title_burger::before {
  content: "";
  background-color: #323232;
  position: absolute;
  height: 1px;
  left: 0;
}

.title_burger::after {
  content: "";
  background-color: #323232;
  position: absolute;
  height: 1px;
  left: 0;
}

.title_burger::before {
  width: 25.71px;
  left: 0;
}

.title_burger::after {
  width: 12.86px;
  bottom: 0;
}

@media (max-width: 620px) {
  .title_burger {
    display: block;
    position: absolute;
    right: 3.2rem;
    width: 25.71px;
    height: 12px;
    cursor: pointer;
    z-index: 100;
  }
}
.title_phone img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 10px;
}
.title_phone span {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #343434;
}

@media (max-width: 860px) {
  .title_phone img {
    width: 1.425rem;
    height: 1.425rem;
  }
  .title_phone span {
    font-size: 1.4rem;
    line-height: 1.648px;
    letter-spacing: 0.05em;
    color: #343434;
  }
}
@media (max-width: 620px) {
  .title_phone img {
    width: 1.2rem;
    height: 1.2rem;
  }
  .title_phone span {
    font-size: 1.2rem;
    line-height: 1.412px;
    letter-spacing: 0.05em;
    color: #343434;
  }
}
.title_value__container {
  width: 100%;
  height: 68rem;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 860px) {
  .title_value__container {
    height: 55.6rem;
  }
}
@media (max-width: 620px) {
  .title_value__container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.title_description__container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 9.7rem;
  box-sizing: border-box;
  position: relative;
}
.title_description__container h1 {
  margin: 0;
  margin-bottom: 4.1rem;
  left: 0;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 5.5rem;
  color: #26497E;
  text-align: left;
}

.title_value_description {
  width: 45.3rem;
  margin-bottom: 5.4rem;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.32rem;
  color: #6C6C6C;
}

@media (max-width: 860px) {
  .title_description__container {
    padding-top: 8.2rem;
  }
  .title_description__container h1 {
    width: 29.7rem;
    margin-bottom: 4.1rem;
    font-size: 3.6em;
    line-height: 4.4rem;
  }

  .title_value_description {
    width: 29.6rem;
    margin-bottom: 5.4rem;
    font-size: 1.8rem;
    line-height: 2.88rem;
    color: #6C6C6C;
  }

  .book_logo {
    margin-top: -16rem;
    margin-left: 23rem;
  }
}
@media (max-width: 620px) {
  .title_description__container {
    padding-top: 5.2rem;
    width: 100%;
    height: 17.8rem;
  }
  .title_description__container h1 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 2.4em;
    line-height: 2.9rem;
  }

  .title_value_description {
    width: 25.5rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #6C6C6C;
  }

  .book_logo {
    margin-top: -16rem;
    margin-left: 23rem;
  }
}
.title_image__container {
  width: 50%;
  height: 100%;
  position: relative;
}

@media (max-width: 620px) {
  .title_image__container {
    width: 24.6rem;
    height: 20rem;
    padding-top: 2.97rem;
  }
}
.button_wraper {
  width: 100%;
  margin-top: -26rem;
  position: relative;
}

.btn {
  width: 34.6rem;
  height: 8rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-color {
  background: linear-gradient(180deg, #FF7144 0%, #FDCE26 100%);
  color: #3A3A3A;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-color::after {
  background: linear-gradient(180deg, #FF7144 0%, #FDCE26 100%);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.book_logo {
  position: absolute;
  width: 6.2rem;
  height: 6.2rem;
  margin-top: -4rem;
  margin-left: 16rem;
  z-index: 2;
}

@media (max-width: 860px) {
  .button_wraper {
    width: 100%;
    margin-top: -12rem;
    position: relative;
  }

  .btn {
    width: 27.4rem;
    height: 6.4rem;
  }

  .book_logo {
    margin-left: 11rem;
  }
}
@media (max-width: 620px) {
  .button_wraper {
    margin-top: 5.15rem;
  }

  .btn {
    width: 21.1rem;
    height: 5.1rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .book_logo {
    width: 4rem;
    height: 4rem;
    margin-left: 6rem;
    margin-top: -3rem;
  }
}
.numPages_container {
  height: 2.7rem;
  margin-top: 9.9rem;
  color: #B0B0B0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.numPages {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
  letter-spacing: 1rem;
  cursor: pointer;
}

.numPages:hover {
  font-weight: bold;
}

.numPages:last-of-type {
  letter-spacing: 0;
}

@media (max-width: 860px) {
  .numPages_container {
    margin-top: 6rem;
  }

  .numPages {
    font-size: 1.8rem;
    line-height: 2.176rem;
  }
}
@media (max-width: 620px) {
  .numPages_container {
    margin-top: 6.4rem;
  }

  .numPages {
    font-size: 1.8rem;
    line-height: 2.176rem;
  }
}
.arrow_last_img {
  margin-right: 1.8rem;
  cursor: pointer;
  z-index: 50;
  transition: 0.2s;
}

.arrow_last_img:hover {
  transform: scale(1.2);
}

.arrow_next_img {
  margin-left: 1.8rem;
  cursor: pointer;
  transition: 0.2s;
  z-index: 50;
}

.arrow_next_img:hover {
  transform: scale(1.2);
}

.title_image_box {
  width: 100%;
  height: 53.5rem;
  position: absolute;
  right: 0;
  bottom: 5rem;
}
.title_image_box img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 860px) {
  .title_image_box {
    height: 27.5rem;
    position: absolute;
    bottom: 19.5rem;
  }
}
@media (max-width: 620px) {
  .title_image_box {
    height: 100%;
    position: relative;
    top: 0;
  }
}
.toogleMenu {
  width: 100%;
  height: 100%;
  background-color: #A1C7E0;
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 4;
  display: block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.heading {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: #26497E;
  text-align: center;
  margin: 0;
}

@media (max-width: 860px) {
  .heading {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
@media (max-width: 620px) {
  .heading {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}
.buyers_choyce__advantages_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 860px) {
  .buyers_choyce__advantages_container {
    flex-wrap: wrap;
  }
}
.buyers_choyce__advantage__box {
  height: 16.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.2rem;
}

.buyers_choyce__advantage__box:last-child {
  margin-right: 0;
}

@media (max-width: 860px) {
  .buyers_choyce__advantage__box {
    width: 40%;
    margin: 0;
    margin-bottom: 10rem;
  }
}
@media (max-width: 620px) {
  .buyers_choyce__advantage__box {
    width: 100%;
    height: 12.8rem;
    margin: 0;
    margin-bottom: 8.8rem;
    justify-content: flex-start;
  }

  .buyers_choyce__advantage__box:last-of-type {
    margin-bottom: 5rem;
  }
}
.advantage_logo_container {
  width: 9.58rem;
  height: 5.87rem;
}
.advantage_logo_container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.advantage_description {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.advantage_description h3 {
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  color: #222222;
  margin-bottom: 0;
}

@media (max-width: 620px) {
  .advantage_description h3 {
    margin-top: 2.6rem;
    width: 100%;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #222222;
    margin-bottom: 0;
  }
}
.aboutShop_value_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

@media (max-width: 620px) {
  .aboutShop_value_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.aboutShop_value_box {
  width: 50%;
  padding-top: 12.9rem;
}

.aboutShop_description {
  margin: 0;
  margin-bottom: 2.4rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #515151;
}

.description_blue {
  font-weight: bold;
  color: #26497E;
  margin: 0;
}

@media (max-width: 860px) {
  .aboutShop_value_box {
    width: 44.4rem;
    padding-top: 4.8em;
  }

  .aboutShop_description {
    margin-bottom: 1.9rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #515151;
  }

  .description_blue {
    margin: 0;
    color: #26497E;
  }
}
@media (max-width: 620px) {
  .aboutShop_value_box {
    width: 100%;
    padding-top: 3.7em;
  }

  .aboutShop_description {
    margin-bottom: 1.648rem;
    font-size: 1.4rem;
    line-height: 1.648rem;
    color: #515151;
  }

  .description_blue {
    margin: 0;
    color: #26497E;
  }
}
.aboutShop_image_wrapper {
  width: 50%;
  height: 100%;
  padding-top: 5.98rem;
  padding-left: 17rem;
  box-sizing: border-box;
}

.aboutShop_image_container {
  width: 100%;
}

.aboutShop_image {
  object-fit: cover;
  width: 100%;
}

@media (max-width: 860px) {
  .aboutShop_image_wrapper {
    width: 40%;
    padding-top: 7.8rem;
    padding-left: 4rem;
  }
}
@media (max-width: 620px) {
  .aboutShop_image_wrapper {
    width: 100%;
    padding-top: 4.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
.instagram_value_container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 620px) {
  .instagram_value_container {
    width: 100%;
    flex-direction: column-reverse;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}
.instagram_arrows_container {
  width: 100%;
  margin-top: 4.5rem;
  margin-bottom: 3.6rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .instagram_arrows_container {
    width: 42rem;
    margin-top: 5.3rem;
  }
}
@media (max-width: 620px) {
  .instagram_arrows_container {
    width: 9.3rem;
    margin-top: 4.8rem;
  }

  .arrow_last_inst, .arrow_next_inst {
    width: 2.6rem;
  }
}
.instagram_images_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7.1rem;
}

.instagram_img_box {
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.2s;
  z-index: 10;
}

.instagram_img_box:hover {
  transform: scale(1.05);
}

.instagram_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.instagram_img_box:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.img_Inst_logo {
  position: absolute;
  z-index: 2;
  width: 10.8rem;
  height: 8.7rem;
}

@media (max-width: 860px) {
  .instagram_images_container {
    width: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 7.1rem;
  }

  .instagram_img_box {
    width: 100%;
    height: 36rem;
    margin: 0;
    margin-bottom: 4rem;
  }

  .instagram_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 2;
  }
}
@media (max-width: 620px) {
  .instagram_images_container {
    width: 100%;
    margin-bottom: 0em;
  }

  .instagram_img_box {
    width: 100%;
    height: 25.2rem;
    margin-bottom: 2rem;
  }

  .img_Inst_logo {
    width: 7.6rem;
    height: 6.22rem;
  }
}
.partners_images_container {
  margin-top: 10.8rem;
  width: 90%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.4rem;
}

.partners_img_box {
  height: 11.1rem;
  margin-right: 14.1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.partners_img_box:last-of-type {
  margin-right: 0;
}

.partners_image {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 860px) {
  .partners_images_container {
    margin-top: 6.7rem;
    margin-bottom: 6.4rem;
  }

  .partners_img_box {
    height: 6.1rem;
    margin-right: 7.6rem;
  }
}
@media (max-width: 620px) {
  .partners_images_container {
    margin-top: 4.5rem;
    margin-bottom: 6.4rem;
    padding-left: 10rem;
    padding-right: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .partners_image {
    width: 100%;
    height: 100%;
  }

  .partners_img_box {
    width: 100%;
    height: 5rem;
    margin-right: 0;
    margin-bottom: 4.4rem;
  }

  .partners_img_box:last-of-type {
    margin-bottom: 0rem;
  }
}
.partners_nums_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B0B0B0;
  margin-bottom: 13.6rem;
}

@media (max-width: 860px) {
  .partners_nums_container {
    margin-bottom: 10.1rem;
  }
}
@media (max-width: 860px) {
  .partners_nums_container {
    margin-bottom: 6.1rem;
  }
}
.info_box {
  width: 90%;
  max-width: 1440px;
  display: flex;
  position: relative;
}

.info_contacts_container {
  width: 64rem;
  padding-top: 6.7rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 860px) {
  .info_box {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  .info_contacts_container {
    padding-top: 6.4rem;
    padding-bottom: 7.3rem;
    width: 67.7rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 620px) {
  .info_box {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }

  .info_contacts_container {
    padding-top: 4.4rem;
    padding-bottom: 4.2rem;
    width: 100%;
    flex-flow: column;
  }
}
.info_heading_container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  margin-top: 6.3rem;
}

@media (max-width: 860px) {
  .info_heading_container {
    justify-content: center;
    margin-top: 5.2rem;
  }
}
@media (max-width: 620px) {
  .info_heading_container {
    justify-content: center;
    margin-top: 3.9rem;
  }
}
.contact_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2.6rem;
  position: relative;
}

.contact_logo_box {
  width: 2.58rem;
  height: 2.58rem;
}

.info_logo {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.contact {
  margin-left: 1.7rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  color: #343434;
}

.time {
  margin-left: 4.28rem;
}

.mail {
  margin-top: 2.3rem;
  margin-bottom: 6.2rem;
}

.requisites {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  color: #A8A8A8;
}

@media (max-width: 860px) {
  .contact_box {
    width: 100%;
    margin-bottom: 2.6rem;
    font-size: 2rem;
    line-height: 2.4rem;
    align-items: center;
  }

  .contact {
    margin-bottom: 0;
  }

  .contact_logo_box {
    width: 1.8rem;
    height: 1.8rem;
  }

  .info_adress {
    width: 100%;
    order: 3;
  }

  .info_phones {
    width: 50%;
    order: 1;
  }

  .info_clocks {
    margin-bottom: 5.9rem;
    order: 2;
  }

  .time {
    margin-left: 3.5rem;
  }

  .mail {
    width: 50%;
    margin-top: 0;
    order: 4;
  }

  .requisites {
    order: 5;
    width: 50%;
    text-align: end;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
@media (max-width: 620px) {
  .contact_box {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  .contact {
    margin-left: 1.7rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .contact_logo_box {
    width: 1.2rem;
    height: 1.7rem;
  }

  .info_adress {
    margin-bottom: 2rem;
    order: 1;
  }

  .info_phones {
    width: 100%;
    order: 3;
    margin-bottom: 2rem;
  }

  .info_clocks {
    width: 100%;
    order: 2;
    margin-bottom: 2rem;
  }

  .time {
    margin-left: 2.9rem;
  }

  .mail {
    width: 100%;
    order: 4;
    margin-bottom: 3.6rem;
  }

  .requisites {
    width: 100%;
    text-align: start;
    font-size: 1.4rem;
    line-height: 1.648rem;
    order: 5;
  }
}
.map_container {
  width: 100%;
  height: 40.8rem;
  margin-top: 3.9rem;
  margin-left: 16rem;
  border: 10px solid #FDB32F;
  filter: drop-shadow(0px 4px 30px rgba(154, 154, 154, 0.67));
  box-sizing: border-box;
}

.map {
  width: 100%;
  height: 100%;
}

@media (max-width: 860px) {
  .map_container {
    width: 67.7rem;
    height: 34.6rem;
    margin-top: 5.2rem;
    margin-left: 0;
  }
}
@media (max-width: 620px) {
  .map_container {
    width: 100%;
    height: 17.2rem;
    margin-top: 3.2rem;
    box-sizing: border-box;
  }
}
.message_container {
  width: 100%;
  height: 100%;
  background-color: rgba(65, 49, 49, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.message_wrapper {
  width: 66.6rem;
  height: 59.9rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(88, 88, 88, 0.82);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message_heading {
  margin-top: 9.7rem;
  margin-bottom: 3.2rem;
}

.message_description {
  width: 80%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #AAAAAA;
}

.input {
  margin-top: 4.8rem;
  margin-bottom: 4.33rem;
  padding-left: 4.3rem;
  width: 43.3rem;
  height: 7.1rem;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #CBCBCB;
  border-radius: 70px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
}

.btn_message_wrapper {
  position: relative;
}

@media (max-width: 1200px) {
  .message_heading {
    margin-top: 6rem;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 860px) {
  .message_wrapper {
    width: 50rem;
    height: 50rem;
  }
}
@media (max-width: 620px) {
  .message_wrapper {
    width: 90%;
    height: 40rem;
  }

  .message_heading {
    margin-top: 3rem;
    margin-bottom: 3.2rem;
  }

  .input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    width: 80%;
    height: 5.1rem;
  }
}
@media (max-height: 500px) {
  .message_container {
    height: 100vh;
  }

  .message_wrapper {
    width: 70rem;
    height: 80vh;
  }

  .message_heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    width: 80%;
    height: 5.1rem;
  }
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Black.ttf) format("ttf"), url(./../fonts/Gilroy-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Bold.ttf) format("ttf"), url(./fonts/Gilroy-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Regular.ttf) format("ttf"), url(./fonts/Gilroy-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Light.ttf) format("ttf"), url(./fonts/Gilroy-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Semibold.ttf) format("ttf"), url(./fonts/Gilroy-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Medium.ttf) format("ttf"), url(./fonts/Gilroy-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
