.aboutShop_container {
    width: 90%;
    max-width: 1440px;
    height: 79.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 12.3em;
    padding-bottom: 15.2rem;
    box-sizing: border-box;
}