.buyers_choyce__container {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12.9rem;

    .buyers_heading {
        margin-bottom: 10.6rem;
    }
}


@media (max-width: 860px) {
    .buyers_choyce__container {
        padding-top: 9.7rem;
    }
}

@media (max-width: 620px) {
    .buyers_choyce__container {
        padding-top: 5.9rem;
    }
}