.info_container {
    width: 100%;
    height: 79.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7F7F7;
}

@media(max-width: 860px) {
    .info_container{
        height: 92rem;
    }
}