.titleContainer {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding-top: 8.8rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media (max-width: 860px) {
    .titleContainer {
        padding-top: 6.2rem;
    }
}

@media (max-width: 620px) {
    .titleContainer {
        width: 100%;
        padding-top: 4.0rem;
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }
}