html {
    height: 100%
  }
  body {
    height: 100%;
  }
  .main {
    min-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .wrap {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 30px;
  }
