.aboutShop_value_box {
    width: 50%;
    padding-top: 12.9rem;
}

.aboutShop_description {
    margin: 0;
    margin-bottom: 2.4rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #515151;
}

.description_blue {
    font-weight: bold;
    color: #26497E;
    margin: 0;
}


@media (max-width: 860px) {
    .aboutShop_value_box {
        width: 44.4rem;
        padding-top: 4.8em;
    }
    
    .aboutShop_description {
        margin-bottom: 1.9rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #515151;
    }

    .description_blue {
        margin: 0;
        color: #26497E;
    }
}

@media (max-width: 620px) {
    .aboutShop_value_box {
        width: 100%;
        padding-top: 3.7em;
    }
    
    .aboutShop_description {
        margin-bottom: 1.648rem;
        font-size: 1.4rem;
        line-height: 1.648rem;
        color: #515151;
    }

    .description_blue {
        margin: 0;
        color: #26497E;
    }
}