.aboutShop_image_wrapper {
    width: 50%;
    height: 100%;
    padding-top: 5.98rem;
    padding-left: 17rem;
    box-sizing: border-box;
}
.aboutShop_image_container {
    width: 100%;
}

.aboutShop_image {
    object-fit: cover;
    width: 100%;
}



@media (max-width: 860px) {
    .aboutShop_image_wrapper {
        width: 40%;
        padding-top: 7.8rem;
        padding-left: 4rem;
    }
}

@media (max-width: 620px) {
    .aboutShop_image_wrapper {
        width: 100%;
        padding-top: 4.2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
}