.aboutShop_value_box {
    width: 50%;
    padding-top: 12.9rem;
}

.aboutShop_description {
    margin: 0;
    margin-bottom: 2.4rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #515151;

}

.description_blue {
    font-weight: bold;
    color: #26497E;
    margin: 0;
}