.button_wraper {
    width: 100%;
    margin-top: -26rem;
    position: relative;
}

.btn {
    width: 34.6rem;
    height: 8rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-color {
    background: linear-gradient(180deg, #FF7144 0%, #FDCE26 100%);
    color: #3A3A3A;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-color::after {
    background: linear-gradient(180deg, #FF7144 0%, #FDCE26 100%);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.book_logo {
    position: absolute;
    width: 6.2rem;
    height: 6.2rem;
    margin-top: -4rem;
    margin-left: 16rem;
    z-index: 2;
}


@media (max-width: 860px) {

    .button_wraper {
        width: 100%;
        margin-top: -12rem;
        position: relative;
    }

    .btn {
        width: 27.4rem;
        height: 6.4rem;
    }

    .book_logo {
        margin-left: 11rem;
    }
}

@media (max-width: 620px) {

    .button_wraper {
        margin-top: 5.15rem;
    }

    .btn {
        width: 21.1rem;
        height: 5.1rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .book_logo {
        width: 4rem;
        height: 4rem;
        margin-left: 6rem;
        margin-top: -3rem;
    }
}