.button_wraper {
    width: 100%;
    margin-top: -26rem;
    position: relative;
}

.button {
    width: 34.6rem;
    height: 8rem;
    background: linear-gradient(180deg, #FF7144 0%, #FDCE26 100%);
    box-shadow: 0px 4px 30px #FC9E4A;
    border-radius: 70px;
    font-family: 'Gilroy';
    font-weight: 600;
    line-height: 2.386rem;
    font-size: 2rem;
    color: #3A3A3A;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    background: linear-gradient(180deg, #FDCE26 0%, #FF7144 100%);
    box-shadow: 0px 2px 10px #FC9E4A;
}


.book_logo {
    position: absolute;
    width: 6.2rem;
    height: 6.2rem;
    margin-top: -4rem;
    margin-left: 16rem;
    z-index: 2;
}


@media (max-width: 860px) {

    .button_wraper {
        width: 100%;
        margin-top: -21rem;
        position: relative;
    }

    .button {
        width: 27.4rem;
        height: 6.4rem;
    }

    .book_logo {
        margin-left: 11rem;
    }
}