.info_box {
    height: 100%;
    width: 90%;
    max-width: 1440px;
    display: flex;

}

.info_contacts_container {
    width: 54.3rem;
    padding-top: 6.3rem;
    padding-bottom: 70rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

