.instagram_images_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7.1rem;
}

.instagram_img_box {
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.instagram_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.instagram_img_box:last-child {
    margin-right: 0;
    margin-bottom: 0;
}

.img_Inst_logo {
    position: absolute;
    z-index: 2;
    width: 10.8rem;
    height: 8.7rem;
}


@media(max-width: 860px) {
    .instagram_images_container {
        width: 42rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 7.1rem;
    }
    .instagram_img_box {
        width: 100%;
        height: 36rem;
        margin: 0;
        margin-bottom: 4rem;
    }

    .instagram_image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        z-index: 2;
    }
}

@media(max-width: 620px) {
    .instagram_images_container {
        width: 100%;
        margin-bottom: 0em;
    }
    .instagram_img_box {
        width: 100%;
        height: 23.2rem;
        margin-bottom: 2rem;
    }
    .img_Inst_logo {
        width: 7.6rem;
        height: 6.22rem;
    }
}