.logo {
    width: 7.5rem;
    height: 9.85rem;
    margin-top: -2rem;
}


@media (max-width: 860px) {
    .logo {
        width: 4.8rem;
        height: 6.3rem;
        margin-top: -1.8rem;
    }
}


@media (max-width: 620px) {
    .logo {
        width: 2.7rem;
        height: 3.5rem;
        margin-top: -1rem;
    }
}