.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 76rem;
    height: 2.6rem;

    a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 2.6rem;
        letter-spacing: 0.05em;
        color: #343434;
    }

    a:hover {
        font-weight: bold;
    }

    a:active {
        color: #468aca;
    }

    li {
        display: inline;
    }
}


@media (max-width: 860px) {
    .menu {
        width: 44.6rem;
        height: 1.6rem;
    
        a {
            font-size: 1.4rem;
            line-height: 1.6rem;
            letter-spacing: 0.05em;
        }
    }
}