.numPages_container {
    height: 2.7rem;
    margin-top: 9.9rem;
    color: #B0B0B0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.numPages {
    
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: 1rem;
    cursor: pointer;
}

.numPages:hover {
    font-weight: bold;
}

.numPages:last-of-type {
    letter-spacing: 0;
}

@media (max-width: 860px) {
    .numPages_container {
        margin-top: 8.1rem;
    }

    .numPages {
        font-size: 1.8rem;
        line-height: 2.176rem;
    }
}