.partners_images_container {
    margin-top: 10.8rem;
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.4rem;
}

.partners_img_box {
    height: 11.1rem;
    margin-right: 14.1rem;
    display: flex;
    align-items: flex-end;
}
.partners_img_box:last-of-type {
    margin-right: 0;
}

.partners_image {
    width: 100%;
    object-fit: cover;
}

@media(max-width: 860px) {
    .partners_images_container {
        margin-top: 6.7rem;
        margin-bottom: 6.4rem;
    }

    .partners_img_box {
        height: 6.1rem;
        margin-right: 7.6+rem;
    }
}