.partners_nums_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B0B0B0;
    margin-bottom: 13.6rem;
}

@media(max-width: 860px) {
    .partners_nums_container {
        margin-bottom: 10.1rem;
    }
}