
.contact_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2.6rem;
    position: relative;
}

.contact_logo_box {
    width: 2.58rem;
    height: 2.58rem;
    
}

.info_logo {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.contact {
    margin-left: 1.7rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 0.05em;
    color: #343434;
}


.time {
    margin-left: 4.28rem;
}

.mail {
    margin-top: 2.3rem;
    margin-bottom: 6.2rem;
}

.requisites {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #A8A8A8;
}


@media(max-width: 860px) {
    .contact_box {
        width: 100%;
        margin-bottom: 2.6rem;
        font-size: 2rem;
        line-height: 2.4rem;
        align-items: center;
    }

    .contact {
        margin-bottom: 0;
    }

    .contact_logo_box {
        width: 1.8rem;
        height: 1.8rem;
    }

    .info_adress{
        width: 100%;
        order: 3;
    }

    .info_phones {
        width: 50%;
        order: 1;
    }

    .info_clocks {
        margin-bottom: 5.9rem;
        order: 2;
    }

    .time {
        margin-left: 3.5rem;
    }

    .mail {
        width: 50%;
        margin-top: 0;
        order: 4;
    }

    .requisites {
        order: 5;
        width: 50%;
        text-align: end;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

@media(max-width: 620px) {
    .contact_box {
        width: 100%;
        margin-bottom: 1.6rem;
    }

    .contact {
        margin-left: 1.7rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }

    .contact_logo_box {
        width: 1.2rem;
        height: 1.7rem;
    }

    .info_adress{
        margin-bottom: 2rem;
        order: 1;
    }

    .info_phones {
        width: 100%;
        order: 3;
        margin-bottom: 2rem;
    }

    .info_clocks {
        width: 100%;
        order: 2;
        margin-bottom: 2rem;
    }

    .time {
        margin-left: 2.9rem;
    }

    .mail {
        width: 100%;
        order: 4;
        margin-bottom: 3.6rem;
    }

    .requisites {
        width: 100%;
        text-align: start;
        font-size: 1.4rem;
        line-height: 1.648rem;
        order: 5;
    }
}