
.contact_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2.6rem;
    position: relative;
}

.contact_logo_box {
    width: 2.58rem;
    height: 2.58rem;
    
}

.info_logo {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.contact {
    margin-left: 1.7rem;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 0.05em;
    color: #343434;
}

.adress {
    margin-top: 4.8rem;
    margin-bottom: 1.9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.time {
    margin-left: 4.28rem;
}

.mail {
    margin-top: 2.3rem;
    margin-bottom: 6.2rem;
}

.requisites {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #A8A8A8;
}


@media(max-width: 860px) {
    .contact_box {
        width: 100%;
        margin-bottom: 2.6rem;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .adress{
        position: absolute;
        left: 0;
        bottom: -13rem;
    }

    .info_phones {
        width: 50%;
    }

    .info_clocks {
        margin-bottom: 10.7rem;
    }

    .mail {
        width: 50%;
        margin-top: 0;
    }

    .requisites {
        width: 50%;
        text-align: end;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}