.toogleMenu {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FF7144 0%, #FDCE26 100%);
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 4;
    display: block;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}